@import "blocks-style/structure.less";
@import "blocks-style/advantages.less";
@import "blocks-style/callback.less";
@import "blocks-style/structure.less";
@import "blocks-style/advantages.less";
@import "blocks-style/footer.less";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}    

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 21px;
  line-height: 26px;
}
.counter {
  padding: 25px 0;
  letter-spacing: 2px;
}
.main-menu {
  display: flex;
  justify-content: space-around;
  height: 55px;
  &__item {
    list-style: none;
    margin: auto;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__item--logo {
    padding: 0;
    z-index: 999;
  }
}
.slider {
  background: url("images/slider.png") top center no-repeat;
  background-size: cover;
  height: 519px;
}
.about {
  text-transform: uppercase;
  text-align: center;
  padding: 55px 0;
  &__intro {
    padding-top:40px;
    font-size: 14px;
  }

}




.social-link {
  /*background: url('images/social-links.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
  width: 45px;
  height: 48px;
  &--twitter {
    background-position: -5px 0;
  }
  &--facebook{
    background-position: -55px 0;
  }
  &--youtube {
    background-position: -105px 0;
  }*/
}

.gallery-section {
  text-align: center;
  text-transform: uppercase;
  &--welcome {
    padding-top: 115px;
  }
  &__header {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
  }
  &__intro {
    font-size: 14px; 
    line-height: 24px;     
    padding-top: 40px;
  }
  &__view {
    padding: 75px 0;
  }
  &__view-cover {
    position: relative;
  }
  &__view-list {
    display: flex;
  }
  &__view-item {
    background: url("images/album_photo.jpg")left top no-repeat;
    flex-basis: 33.3333%;
    position: relative;
    height: 267px;
  }
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  &__photo-name{
    flex-basis: 70%;
    order: 1;
  
  }
  &__like {
    flex-basis: 30%;
    order: 2;
    margin: auto 0;
    background: url('images/like-icon.png') left center no-repeat;
    padding-left: 30px;
    height: 20px;
    display: flex;
    align-items: center;
  }
  &__author {
    text-transform: none;
    order:3;
    flex-basis: 100%;
  }
}


.guestbook {
  display: flex;
  &__2col {
    flex-basis: 50%;
    margin-left: 10%;
    border: none;
  }
  &__2col:first-of-type {
    border-right: 1px solid #dbdbdb;
  }
}
.guestbook-form__title{
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.guestbook-form__label{
  text-transform: uppercase;
}
input[type="text"] {
  background: #f2f2f2;
}



.section-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  &--main {
    /*width: 430px;
    margin: 0 380px;*/
  }
  &--sub {
    width: 115px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-title {
    &--main {
      padding: 0 140px;
    }
  }
  .about__intro {
    padding: 40px 140px 0 140px;
    line-height: 26px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-title {
    font-size: 18px;
    &--main {
      padding: 0 30px;
    }
  }
  .about {
    position: relative;
  }
  .about:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-left: -160px;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 15px solid #fff;
  }
  .about__intro {
    padding: 40px 35px 0 35px;
    line-height: 26px;
  }
}